parameters:
    level: max
    doctrine:
        objectManagerLoader: tests/object-manager.php
        searchOtherMethodsForQueryBuilderBeginning: true     
    symfony:
        console_application_loader: tests/console-application.php
        constant_hassers: false
        
    paths:
        - src/
        - tests/

    excludePaths:
        - src/DependencyInjection/RondalExtension.php
